<div id="ftue-intro">
    <div id="ftue-slide-1" class="ftue overlay ftue-slide">
        <div class="ftue-message-container">
            <div class="ftue-heading">Welcome to Livenotes!</div>
            <div class="ftue-copy">Keep notes about the things you want to do.<br>We'll help you complete them.</div>
            <div class="btn btn-md btn-ftue top-buffer center">Let's get started!</div>
        </div>
    </div>

    <div id="ftue-slide-2" class="ftue overlay ftue-slide">
        <div class="ftue-message-container">
            <div class="ftue-heading">Need help planning a wedding?</div>
            <div class="ftue-copy">Keep all your wedding to-dos in one place and get closer to your goals with smart recommendations.</div>
            <div class="btn btn-md btn-ftue top-buffer center">Let's get started!</div>
        </div>
    </div>

    <div id="ftue-tooltip-navigation">
        <div id="ftue-wedtip-intro" class="ftue-wedtip-intro ftue-tooltip animStart">
          Wedding planning is no small feat, but we can help.
          We've populated your list with some useful tasks.
          Feel free to edit these tasks to fit your needs.
    		  <div id="ftue-wedtip-intro-next" class="btn btn-md btn-ftue center top-buffer">Next</div>
        </div>
        <div id="ftue-wedtip-openreco" class="ftue-wedtip-openreco ftue-tooltip ftue-tooltip-tail animStart">
          This item has new recommendations.<br />
          Click here to take a look.
        </div>
        <div id="ftue-wedtip-details" class="ftue-wedtip-details ftue-tooltip animStart">
          Browse these recommendations and keep the ones you find helpful.
          If they're not what you need, delete them and we'll look for better leads to help you with your task.
    		  <div><a href="#" class="btn btn-md btn-ftue center top-buffer">Next</a></div>
        </div>
        <div id="ftue-wedtip-outro" class="ftue-wedtip-outro ftue-tooltip animStart">
          As you personalize your list, make it more descriptive and we can get you better recommendations.<br /><br >
          That's all there is to it!  We hope we can help you plan a wonderful wedding!
    		  <div><a href="#" class="btn btn-md btn-ftue center top-buffer">Close</a></div>
        </div>
        <div id="ftue-tooltip-addtask" class="ftue-tooltip-addtask ftue-tooltip ftue-tooltip-tail animStart">
          Click here to add your first note
        </div>
        <div id="ftue-tooltip-openreco" class="ftue-tooltip-openreco ftue-tooltip ftue-tooltip-tail animStart">
          Ok! Now click here to open this item's details
        </div>
        <div id="ftue-tooltip-details" class="ftue-tooltip-details ftue-tooltip ftue-tooltip-tail animStart">
          Here you can add any details you'd like to remember for this task.
        </div>
        <div id="ftue-tooltip-nextsteps" class="ftue-tooltip-nextsteps ftue-tooltip animStart">
          As your list grows, we'll start sharing useful recommendations to help you meet your goals. We'll pin them here for you to see.
          <br /><br />That's all there is to it! Now go ahead and add more items to your list.
            <!-- <div class="btn btn-md btn-ftue top-buffer center">Return to my list</div> -->
        </div>
    </div>

</div>
