<div class="recos-item-options-container">
	<div class="reco-button reorder-reco"></div>
	<div class="reco-button close-reco" recoId={{id}}></div>
</div>
{{#if heading}}
<div class="heading">{{heading}}</div>
{{/if}}
<div class="copy">{{copy}}</div>