<div class="recos-item-options-container">
	<div class="reco-button reorder-reco"></div>
	<div class="reco-button close-reco" recoId={{id}}></div>
</div>
<div class="tile-1">
	<div class="recos-add"></div>
</div>
<div class="tile-1 attach-1">
	<div class="heading">We'll dig up the best recommendations.</div>
	<div class="copy">In the meantime, you can add your own notes and links so you can keep your findings all in one place.<br><br>Click here to start.</div>
</div>