<div class="recos-item-options-container">
	<div class="reco-button reorder-reco"></div>
	<div class="reco-button close-reco" recoId={{id}}></div>
</div>
{{#if color}}
<div class="overlay"></div>
{{/if}}
{{#if heading}}
<div class="heading">{{heading}}</div>
{{/if}}
{{#if caption}}
<div class="caption">{{caption}}</div>
{{/if}}