<div class="recos-item-options-container">
    <div class="reco-button reorder-reco"></div>
    <div class="reco-button close-reco" recoId={{id}}></div>
</div>
<div class="icon-edit"></div>
<pre class="user-text" id="user-text">{{copy}}</pre>
<textarea class=" description-input user-text-edit" id="user-text-edit" placeholder="Add details">{{copy}}</textarea>
