<div class="main-row-container task-inner-container" id="main-row-container">
    <div id="reorder-handle" class="task-button reorder-handle">
    </div>
    <div id="description-{{id}}" class="description-container">
        <div class="description-input" id="description-input">{{description}}</div>
        <textarea class="description-input description-edit" id="description-edit">{{description}}</textarea>

    </div>
    <div id="options-container" class="options-container">
        <div id="completed-check" class="task-button completed-check">
            <!--<input class="task-check" type="checkbox" value="1" name="task-check" id="task-check"/>-->
        </div>
        <div id="marker" class="task-button task-marker"></div>
    </div>
</div>