
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-apple:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */